.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: var(--white);
    margin: 3px 0;
    transition: 0.4s;
}

.bar.top {
    transform: rotate(45deg) translate(6px, 5px);
}

.bar.middle {
    opacity: 0;
}

.bar.bottom {
    transform: rotate(-45deg) translate(6px, -5px);
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}
