.navbar {
  width: 60%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem;
  background-color: var(--navbar-color);
  border-radius: 0px 0px 20px 20px;
  border: solid 2px var(--light-gray);
  border-top: none;
}

@media (max-width: 768px) {
  .navbar {
    width: 80%;
  }
}


.navLink {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  font-family: "Poppins";
  
  padding: 0.25rem 1rem;
  border-radius: 20px;
}

.navLink:hover {
  color: var(--hover-color);
  transition: 0.5 ease;
}

.navbar-mobile {
  display: none;
} 

@media (max-width: 500px) {
  .navbar {
    display: none;
  }
  
  .navbar-mobile {
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    right: -100%;
    transform: none;
    padding-top: 4rem;
    border-bottom-left-radius: 10px;
    border: none;
    background-color: var(--light-gray);
    position: fixed;
    transition: right 0.5s ease;
  }

  .navbar-mobile.open {
    right: 0;
  }

  .navbar-mobile .navLink {
    width: min-content;
    padding: 0.65rem 1.5rem;
    text-align: right;
  }
}

.top-bar {
  display: none;
}

@media (max-width: 500px) {
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 4rem;
    border-bottom: solid 2px var(--light-gray);
    background-color: var(--navbar-color);
  }
}
